<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Mazoon.Properties.Settings.W_MazoonWebSiteConnectionString"
            connectionString="Data Source=CODER-PC;Initial Catalog=W_MazoonWebSite;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>